.main-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px;
}

.main-div img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.image-div-content {
  padding: 10px;
}

.image-div {
  max-width: 250px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px 10px rgba(128, 128, 128, 0.384);
  border-radius: 5px;
  cursor: pointer;
  transition: 400ms;
}

.image-div:hover{
  scale: 1.03;
}

.image-div-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.nav-but-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.nav-button {
  background: rgb(52, 52, 52);
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
}

.nav-button:hover {
  background: rgb(0, 0, 0);
}

.arrow-nav {
  margin: 0 20px;
  padding: 5px 20px;
  background: grey;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 100px;
}

/* ----Data-Table---------------------- */

table {
  border-collapse: collapse;
  max-width: 80%;
  margin: 30px auto;
  border: 1px solid grey;
}

td,
th {
  padding: 10px;
  border-bottom: 0.5px solid grey;
}

th{
  font-size: 16px;
  background-color: rgb(85, 85, 85);
  color: white;
}

tr:hover {
  cursor: pointer;
  background-color: rgb(85, 85, 85);
  color: white;
}
